@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@500&display=swap');

.main {
  background: #0a030d;
  height: 100vh;

  .content {
    color: #ffffff;
    text-align: center;
    padding-top: 12em;
    font-family: 'Inconsolata', monospace;
    font-size: 1.5rem;
  }
}

.ldsHourglass {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}
.ldsHourglass:after {
  content: " ";
  display: block;
  border-radius: 50%;
  width: 0;
  height: 0;
  margin: 8px;
  box-sizing: border-box;
  border: 32px solid #6a00d4;
  border-color: #6a00d4 transparent #6a00d4 transparent;
  animation: ldsHourglass 1.2s infinite;
}
@keyframes ldsHourglass {
  0% {
    transform: rotate(0);
    animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
  }
  50% {
    transform: rotate(900deg);
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }
  100% {
    transform: rotate(1800deg);
  }
}


.ldsGrid {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}
.ldsGrid div {
  position: absolute;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background: #3100d1;
  animation: ldsGrid 1.2s linear infinite;
}
.ldsGrid div:nth-child(1) {
  top: 8px;
  left: 8px;
  animation-delay: 0s;
}
.ldsGrid div:nth-child(2) {
  top: 8px;
  left: 32px;
  animation-delay: -0.4s;
}
.ldsGrid div:nth-child(3) {
  top: 8px;
  left: 56px;
  animation-delay: -0.8s;
}
.ldsGrid div:nth-child(4) {
  top: 32px;
  left: 8px;
  animation-delay: -0.4s;
}
.ldsGrid div:nth-child(5) {
  top: 32px;
  left: 32px;
  animation-delay: -0.8s;
}
.ldsGrid div:nth-child(6) {
  top: 32px;
  left: 56px;
  animation-delay: -1.2s;
}
.ldsGrid div:nth-child(7) {
  top: 56px;
  left: 8px;
  animation-delay: -0.8s;
}
.ldsGrid div:nth-child(8) {
  top: 56px;
  left: 32px;
  animation-delay: -1.2s;
}
.ldsGrid div:nth-child(9) {
  top: 56px;
  left: 56px;
  animation-delay: -1.6s;
}
@keyframes ldsGrid {
  0%, 100% {
    opacity: 1;
  }
  50% {
    opacity: 0.5;
  }
}

.ldsCircle {
  display: inline-block;
  transform: translateZ(1px);
}
.ldsCircle > div {
  display: inline-block;
  width: 64px;
  height: 64px;
  margin: 8px;
  border-radius: 50%;
  background: #c9005e;
  animation: ldsCircle 2.4s cubic-bezier(0, 0.2, 0.8, 1) infinite;
}
@keyframes ldsCircle {
  0%, 100% {
    animation-timing-function: cubic-bezier(0.5, 0, 1, 0.5);
  }
  0% {
    transform: rotateY(0deg);
  }
  50% {
    transform: rotateY(1800deg);
    animation-timing-function: cubic-bezier(0, 0.5, 0.5, 1);
  }
  100% {
    transform: rotateY(3600deg);
  }
}
